body {
  margin: 0;
  background-color: #B9CDDA;
  font-family: "Segoe UI", Roboto;
  }

/****************   Nav Section **********************/

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
	background-color: #0B5351;
  font-family: Cambria, Georgia, “Times New Roman”, serif; 
  padding: 0 .5em;
} 

/***********************  Footer Section   **************************/
.footer-flex {
	display: flex;
  justify-content: center;
  align-items: center;
  background-color: #066583;
  color: white;
  gap: 5px;
  margin: 2em 0 0 0;
}

/*********** Splash Page ************************/
header {
  background-color: #4D8177;
  padding: 5px 0 10px 10px;
  font-family: Helvetica;
  color: white;
}

.header-index {
  display: flex;
  align-items: center;
}

.left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0 0; 
}

header h1 {
  display: flex;
  flex-direction: column;
  margin: 10px;

}

header img {
  border: 3.5px inset #A6D8D4;
}

.address {
  font-weight: 600;
}

.tagline {
  margin: 21px 0 0 0;
}

/************* Sections ********************/

hr {
  border: 2px dashed #8EAF9D;
  margin-top: 0px;
}

section {
  padding: 0 20px 0 20px;
}

section h3 {
  font-family: Helvetica;
  color: black;
}

section dl {
  display: grid;
  grid-template-columns: 5fr 6fr;
}

section ul {
  list-style-type: circle;
}

/*MLC Tech Lending Desk*/
section a {
  font-style: italic;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(140, 0, 255);
}

a:active {
  color: white;
}

section a:visited {
  color: #bf32cc;
}

section a:hover {
  color: rgb(140, 0, 255);
}

section a:active {
  color: #bf32cc;
}

.section-card {
  padding: 0.5em 0 1em 3em;
  border: 1px solid #5D676D;
  border-radius: 15px;
  margin: 1.5em;
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 1.5em;
}

.card img {
  width: 200px;
  border: 2px inset;
  border-color: rgb(136, 211, 129);
}

.card {
  padding: 2em;
  box-shadow: 1px 3px 5px #5D676D;
  border-radius: 15px;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      display: flex;
      flex-direction: column;
    }

    .three-col {
      display: grid;
      grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: grid;
  color: black;
  opacity: 0.9;
}

.label {
  padding-top: 1em;
}

input {
  width: 25%;
  padding: 1em;
  box-shadow: 1px 2px 3px #5D676D;
  border-radius: 15px;
  color: black;
  border-radius: 5px;
  border-width: .5px;
}

textarea {
  width: 400px;
  height: 120px;
  padding: 0.5em;
  box-shadow: 1px 2px 3px #5D676D;
  color: darkcyan;
  border-radius: 5px;
  border-width: .5px;
}
